<style>
  .btn-primary{
    text-decoration: none;
    text-color: red;
  }
</style>
<div style="position: relative;">
<h1 class="pos_l">Template</h1>
<form action="template_formats" class="form-inline pos_r">
  <input type="text" name="search" placeholder="Search" class="form-control form-control-lg">
  <button type="submit" class="btn btn-lg btn-success">Search</button>
</form>
</div>
<div class="table_gr" >
  <table border=1 class="table table-hover table-striped " , style="border: 2px solid black;">
    <tr style="color:White">
      <th>name</th>
      <th>layout</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Show</th>
    </tr>
  <style>
  .b{
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  }</style>
  <% @template_formats.each do |template_format| %>

  <tr>
    <td ><h6><%= template_format.name %></h6></td>
    <td ><p class="b"><%= template_format.layout %></p></td>
    <td><%= link_to "Edit", edit_template_format_path(template_format) %></td>
    <td><%= button_to "Delete" , template_format , method: :delete ,class: "btn-primary"%></td>
    <td>
    <p>
      <%= link_to "Show this template_format", template_format %>
    </p>
  </td>
  </tr>
  <% end %>
  </table>
</div>
<div style="position: relative;">
<%= link_to "New template_format", new_template_format_path ,class: 'btn btn-primary pos_l' %>
<%= link_to "Home" ,  home_index_path ,class: 'btn btn-primary pos_r' %>
</div>