<%#<%= stylesheet_link_tag  "show" %>
<div class="card text-center" >
  <div class="card-body">
    <div class="formBox">
        <div class="formContainer">

<p>
  <strong>name:</strong>
  <%= @template_format.name %>
</p>

<!-- <p>
  <strong>layout:</strong>
  <%= @template_format.layout %>
</p> -->


</div>
</div>
</div>

<p>
  <!-- <iframe width=" 100%" height="1000" src="<%#<%= template_format_view_format_path(@template_format) %>"> -->
   <%= raw @res_cv_html %>
 </p>
 
 <div>
   <%= link_to "Edit this skill", edit_template_format_path(@template_format) %> |
   <%= link_to "Back to skills", template_formats_path %>
 
   <%= button_to "Destroy this skill", @template_format, method: :delete ,class:"btn btn-primary btn-sm mt-4"%>
 </div>
 
 
</div>