<h1>profile</h1>

<div id="profile" >
  <table border=1 class="table table-hover table-striped " , style="border: 2px solid black;">
    <tr style="background-color: darkblue; color: aqua;">
      <th>email</th>
      <th>contact</th>
      <th>skill</th>
      <th>address</th>
    </tr>
  <% @profiles.each do |profile| %>
  <tr>
   
    <td><p><%= profile.email %></p></td>
    <td><p><%= profile.contact %></p></td>
    <td><p><%= profile.skill %></p></td>
    <td><p><%= profile.address %></p></td>
    <td><%= link_to "Edit", edit_profile_path(profile) %></td>
    <td><%= button_to "Delete" , profile , method: :delete ,class: "btn-primary"%></td>
    <td>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  </td>
  </tr>
  <% end %>
  </table>
</div>

<!-- <%= link_to "New profile", new_profile_path ,class: 'btn-primary' %> -->
<%= link_to "Home" ,  home_index_path ,class: 'btn-primary' %>
