<div style="position: relative;">
<h1 class="pos_l">profile</h1>
<form action="profiles" class="form-inline pos_r">
  <input type="text" name="search" placeholder="Search" class="form-control form-control-lg">
  <button type="submit" class="btn btn-lg btn-success">Search</button>
</form>
</div>
<div class="table_gr" >
  <table border=1 class="table table-hover table-striped ">
    <tr style="color: white;">
      <th>email</th>
      <th>contact</th>
      <th>address</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Show</th>
    </tr>
  <% @profiles.each do |profile| %>
  <tr>
   
    <td><p><%= profile.email %></p></td>
    <td><p><%= profile.contact %></p></td>

    <td><p><%= profile.address %></p></td>
    <td><%= link_to "Edit", edit_profile_path(profile) %></td>
    <td><%= button_to "Delete" , profile , method: :delete ,class: "btn-primary"%></td>
    <td>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  </td>
  </tr>
  <% end %>
  </table>
</div>

<!-- <%= link_to "New profile", new_profile_path ,class: 'btn-primary' %> -->
<%= link_to "Home" ,  home_index_path ,class: 'btn btn-primary' %>
