<div class="card text-center" >
  <div class="card-header">
    
    Profile 
  </div>
  <div class="card-body">
    <h5 class="card-title">email</h5>
    <p class="card-text">
      <%= @profile.email %>
    </p>

    <h5 class="card-title">contact</h5>
    <p class="card-text">
      <%= @profile.contact %>
    </p>
    
    <h5 class="card-title">TechStacks</h5>
    <p class="card-text">
      <% @profile.supportive_skills.each do |supportive_skill| %>
     <%= supportive_skill.title+"," %>
    <%end%>
    </p>

    <h5 class="card-title">Core Skill:</h5>
    <p class="card-text">
      <% if @profile.core_skill %>
      <%= @profile.core_skill.title %>
      <%else%>
       nill 
       <%end%>
    </p>

    <h5 class="card-title">gender:</h5>
    <p class="card-text">
      <%= @profile.gender %>
    </p>
    <h5 class="card-title">address:</h5>
    <p class="card-text">
      <%= @profile.address %>
    </p>

    <h5 class="card-title">candidate:</h5>
    <% if @profile.candidate %>
    <p class="card-text">
      <%= link_to  ""+@profile.candidate.name, edit_candidate_path(@profile.candidate) %>  
    </p>
    <%else%>
    null
    <%end%>

  </div>
  <div class="card-footer text-muted">
    
  <%= link_to "Edit this profile", edit_profile_path(@profile) %> |
  <%= link_to "Back to profiles", profiles_path %>

  <%= button_to "Destroy this profile", @profile, method: :delete ,class:"btn btn-primary"%>
  </div>
</div>

