<%#= form_with(model: tech_stack ,validate: false) do |form| %>
<%#= form_with(model: tech_stack , data: { validate: false }) do |form| %>
<%= form_with(model: tech_stack ) do |form| %>
  <% if tech_stack.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2><%= pluralize(tech_stack.errors.count, "error") %> errors found , cant be save</h2>
      <ul>
        <% tech_stack.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <%= form.label :Tech_type ,class: " col-2" %>
      <div class="col-5">
        <div class="form-inline">
          <%= form.radio_button :tech_type, 1 %>
          <%= form.label "core Tech"  %>
        </div>
        
        <div class="form-inline">
          <%= form.radio_button :tech_type, 2 %>
          <%= form.label "supportive Tech" %>
        </div>       
        <%= custom_error( form , :tech_type) %> 
      </div>
    </div>
    <div class="form-group">
      <%= form.label :title  %>
      <%= form.text_field :title  ,class: "form-control"%>    
      <%= custom_error( form , :title) %> 
    </div>
   
    <div class="form-group">
      <%= form.label :desc %>
      <%= form.text_area :desc ,class: "form-control"%>
    </div>
  
    <div>
      <%= form.submit class: 'btn-primary'%>
    </div>
<% end %>
