<style>
  .btn-primary{
    text-decoration: none;
    text-color: red;
  }

  div input[type=radio] {
    margin-left: 18px;
    margin-right: 5px;
}
.material-symbols-outlined{
  color: black;
}
.btn-sm{
  border-radius: 20px;
}
.btn-danger
{
  border-color: #9a5e64;
}
</style>


<div style="position: relative; margin-bottom: 40px;">
<h1 class="pos_l">Tech_stack\Skills</h1>

<form action="tech_stacks"  class="pos_r">
    <div style="display: flex;">
  <input type="text" name="search" placeholder="Search" class="form-control mr-sm-2 form-control-lg">
  <button type="submit" class="btn btn-lg btn-success">Search</button>
    </div>
  <div style="display: flex; margin-top: 3px;">
    <div><input type="radio" name="tech_type" value="1">Core_skills</div>
    <div><input type="radio" name="tech_type" value="2">Supportive_skills</div>
    <div><input type="radio" name="tech_type" value="">All Skills</div>
  </div>
</form>
</div>


<div class="table_gr" >
  <table border=1 class="table table-hover table-striped " , style="border: 2px solid #626262;">
    <tr style="color:White">
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Show</th>
    </tr>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <% @tech_stacks.each do |tech_stack| %>
  <tr>
    <td ><h6><%= tech_stack.title %></h6></td>
    <td><p><%= tech_stack.desc %></p></td>
    <td><%= link_to "Edit", edit_tech_stack_path(tech_stack),class: "material-symbols-outlined" %></td>
    <td><%= button_to "" , tech_stack , method: :delete ,class: "fa-solid fa-trash alert-light "%></td>
    <td>
    <p>
      <%= link_to "", tech_stack , class: "fa fa-info-circle " , style: "font-size: x-large;"%>
    </p>
  </td>
  </tr>
  <% end %>
  </table>
</div>

<div style="position: relative;">
<%= link_to "New tech_stack", new_tech_stack_path ,class: 'btn btn-primary pos_r' %>
<!-- <%= link_to "Home" ,  home_index_path ,class: 'btn btn-primary pos_l'%> -->
</div>