<div class="container-md">
  <div class="card text-center" >
    <%= link_to "arrow_back", tech_stacks_path ,class:"pos_card_l material-symbols-outlined"  %>

    <h3 class="center_h">
      <strong>Skill</strong>
    </h3>
    <div class="card-body">
        <div>
          <div class="formContainer table_gr">
            <table class="show_table">
              <tr>
                <th class="show_h">Title:</th>
                <td class="show_details">  <%= @tech_stack.title %> </td>
              </tr>
              <tr>
                <th>Desc:</th>
                <td>  <%= @tech_stack.desc %> </td>
              </tr>
              <tr>
                <th>Tech_type:</th>
                <td>  <%= @tech_stack.tech_type == 1 ? "core Skill" : "supportive skill" %> </td>
              </tr>
            </table>
          </div>
        </div>
    </div>

    <div class="card-footer text-muted">
      <%= link_to "Edit", edit_tech_stack_path(@tech_stack) ,class: "material-symbols-outlined"%>
      <%= button_to "Delete", @tech_stack, method: :delete ,class:"material-symbols-outlined symbols_delete"%>
    </div>
  </div>  
</div>