
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Project Management</a>
    
  


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <%= link_to "Skills", tech_stacks_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", projects_path  %>     
        </li>
        <li class="nav-item">
          <%= link_to "Profiles", profiles_path  %>
        </li>
        <li class="nav-item">
          <%= link_to "Candidates", candidates_path  %>
        </li>
        <li class="nav-item">
          <%= link_to "Curriculum_vitae", curriculum_vitaes_path  %>
        </li>
        <li class="nav-item">
          <%= link_to "Template", template_formats_path  %>
        </li>
      </ul>
      </div>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>

          <style>
          .nav-link btn btn-primary{
            margin: 10px;
          }
          </style>
          
          
          <li class="nav-item">
        <%= link_to 'edit Details', edit_user_registration_path, class: 'nav-link btn btn-sm btn-outline-info'   %>
              <!-- def post -->
          </li>      

              <li class="nav-item">
                  <!-- <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %> -->
                  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-sm btn-outline-danger' %>
              </li>

          <% else %>
              <li class="nav-item">
                  <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                  <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
              </li>
          <% end %>
      </ul>
    </div>
  </nav>