
<% name = current_user.present? ? current_user.email : 'Stranger' %>
<div>
<h1>Welcome, <%= name %> </h1>

<!-- <%= link_to "Skills", tech_stacks_path ,class: 'btn btn-primary'%>
<%= link_to "Projects", projects_path ,class: 'btn btn-primary' %>
<%= link_to "Candidates", candidates_path ,class: 'btn btn-primary' %>
<%= link_to "Profiles", profiles_path ,class: 'btn btn-primary' %>

<%= link_to "Curriculum vitae", curriculum_vitaes_path ,class: 'btn btn-primary' %>-->


</div>
