<div style="position: relative;">
<h1 class="pos_l">Domains</h1>

<form action="domains" class="form-inline pos_r">
  <input title="text" name="search" placeholder="Search" class="form-control form-control-lg">
  <button title="submit" class="btn btn-lg btn-success">Search</button>
</form>
</div>
<div class="table_gr">
  <table border=1 class="table table-hover table-striped", style="border: 2px solid black;">
    <tr style="color:white;">
       <th>Title</th>
       <th>Edit</th>
      <th>Delete</th>
     </tr>
  <% @domains.each do |domain| %>
  <tr>
    <td><p><%= domain.title %></p></td>
    <td><%= link_to "Edit", edit_domain_path(domain),class: "material-symbols-outlined" %></td>
    <td><%= button_to "Delete" , domain , method: :delete ,class: "btn-primary"%></td>
    <!-- <td>
    <p>
      <%#<%= link_to "Show this domain", domain %>
    </p>
  </td> -->
  </tr>
  <% end %>
  </table>
</div>

<div style="position: relative;">
<%= link_to "New domain", new_domain_path,class: 'btn btn-primary pos_l' %>
<%= link_to "Home", home_index_path,class: 'btn btn-primary pos_r' %>
</div>