<h1>New Candidate</h1>
<%= form_with(model: @candidate) do |form| %>
  <table class="table">
  <div class="field">
    <tr>
      <td><%= form.label :name %></td>
    <td><%= form.text_field :name %></td>
  </tr>
</div>
  <div class="field">
    <tr>
      <td><%= form.label "Employee ID" %></td>
    <td><%= form.text_field :employ_id %></td>
  </tr>
</div>
</table>

  <%= form.fields_for :profile do |profile_form| %>
    <h2>Profile</h2>
    <table class="table">
   <div class="field">
    <tr>   
      <td><%= profile_form.label :email %></td>
      <td><%= profile_form.text_field :email %></td>
    </tr>
    </div>
    <div class="field">
      <tr>
        <td><%= profile_form.label :contact %></td>
      <td><%= profile_form.text_field :contact %></td>
    </tr>
  </div>
  <div class="form">
    
    <tr>
      <td>
        <%= profile_form.label :supportive_skills %>
      </td>
    <td>
      <%= profile_form.collection_select(:supportive_skill_ids, TechStack.all, :id, :title , {}, { multiple: true,  include_blank: false  ,id: 'selectgr'   }) %>
      
       <script>
        new MultiSelectTag('selectgr')  // id
      </script>
    </td>
  </tr>
</div>
<div class="field">
  <tr>
    <td>
      <%= profile_form.label "Core Skill", style: "display: block" ,class: "text-white"%>
    </td>
  <td>
     <div class="col-sm-10">
      <%= profile_form.fields_for :profile_core_tech_attributes, @candidate.profile.profile_core_tech do |cs| %>
      <%= cs.collection_select :tech_stack_id, TechStack.order(:title), :id, :title, { include_blank: true } %>
      <% end %>
     </div>  
  </td>
</tr>
</div>
   </div>
    <div class="field">
      <tr>
        <td><%= profile_form.label :address %></td>
      <td><%= profile_form.text_field :address %></td>
    </tr>
  </div>
    </table>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
