
<h2>Candidate</h2>
<%= form_with(model: @candidate , validate: true) do |form| %>
  <table class="table">
    <div class="field">
      <tr>
        <td><%= form.label :name %></td>
        <td><%= form.text_field :name ,class: "form-control"%>
          <%= custom_error( form , :name) %> 
        </td>
      </tr>
    </div>
    <div class="field">
      <tr>
        <td><%= form.label "Employee ID" %></td>
        <td><%= form.text_field :employ_id ,class: "form-control"%>
          <%= custom_error( form , :employ_id) %> 
        </td>
      </tr>
    </div>
  </table>

  <%= form.fields_for :profile do |profile_form| %>
    <h2>Profile</h2>
    <table class="table">
      <div class="field">
          <tr>   
            <td><%= profile_form.label :email %></td>
            <td><%= profile_form.text_field :email ,class: "form-control"%>
              <%= custom_error( profile_form , :email) %> </td>
          </tr>
      </div>
        <div class="field">
          <tr>
            <td><%= profile_form.label :contact %></td>
            <td>
              <%= profile_form.number_field :contact ,class: "form-control"%>
              <%= custom_error( profile_form , :contact) %> 
            </td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td><%= profile_form.label :address %></td>
            <td><%= profile_form.text_field :address ,class: "form-control"%>
              <%= custom_error( profile_form , :address) %> 
            </td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td>
              <%= profile_form.label :gender%>
            </td>
            <td>
              
                <div class="form-check-inline">
                  <%= profile_form.label "Male" %>
                  <%= profile_form.radio_button :gender, 'Male' %> 
                </div>
                <div class="form-check-inline">
                  <%= profile_form.label "Female" %>
                  <%= profile_form.radio_button :gender, 'Female' %>
                </div>
                <%= custom_error( profile_form , :gender) %> 
            </td>
          </tr>
        </div>
    </table>
  <% end %> 
  <div class="row">
    <div class="col-md-6">
        <%= form.label "Core Skill"  %>
        <%= form.fields_for :linkable_core_tech_attributes, candidate.linkable_core_tech do  |cs| %>
          <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{ id: "core_tech_select_id" ,class: "form-control"}%>
        <% end %>
        <%= custom_error( form , :linkable_core_tech) %> 
    </div>
    <div class="col-md-6">
         <%= form.label :supportive_skills %>
         <%= form.collection_select(:supportive_tech_ids, TechStack.supportive_skills, :id, :title , {}, {multiple: true ,class: "selectpicker show-menu-arrow form-control"}) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn-primary"%>
  </div>
<% end %>  