<style>
  /* .col-6,.col-4,.col-5
{
margin: 0;
padding-left: 15px;
padding-right:15px;
} */
/* .text-white{
  color: black!important;
} */
</style>

<% if @candidate.errors.any? %>
<div class="alert alert-warning" role="alert">

    <ul>
      <% @candidate.errors.each do |error| %>
        <li>
          <%= error.full_message %>
        </li>
        <% end %>
      </ul>
  </div>
  <% end %>
  <style>
    table{
      table-layout:fixed;
    }
  </style>
  <h2>Candidate</h2>
<%= form_with(model: @candidate) do |form| %>
  <table class="table">
  <div class="field">
    <tr>
      <td><%= form.label :name %></td>
    <td><%= form.text_field :name ,class: "form-control"%></td>
  </tr>
</div>
  <div class="field">
    <tr>
      <td><%= form.label "Employee ID" %></td>
    <td><%= form.text_field :employ_id ,class: "form-control"%></td>
  </tr>
</div>
</table>

  <%= form.fields_for :profile do |profile_form| %>
    <h2>Profile</h2>
    <table class="table">
   <div class="field">
    <tr>   
      <td><%= profile_form.label :email %></td>
      <td><%= profile_form.text_field :email ,class: "form-control"%></td>
    </tr>
    </div>
    <div class="field">
      <tr>
        <td><%= profile_form.label :contact %></td>
      <td><%= profile_form.number_field :contact ,class: "form-control"%></td>
    </tr>
  </div>

   </div>
    <div class="field">
      <tr>
        <td><%= profile_form.label :address %></td>
       <td><%= profile_form.text_field :address ,class: "form-control"%></td>
    </tr>
  </div>
</div>
<div class="field">
  <tr>
    <td>
      <%= profile_form.label :gender, style: "display: block" ,class: "text-white"%>
      </td>
   <td>
      <%= profile_form.radio_button :gender, 'Male' %> Male<br />
      <%= profile_form.radio_button :gender, 'Female' %> Female<br />
  </td>
</tr>
</div>
    </table>
  <% end %>

  <div class="actions">
    <%= form.submit class: "btn-primary"%>
  </div>
<% end %>
