<div style="position: relative;">
<h1 class="pos_l">Candidates</h1>
<form action="candidates" class="form-inline pos_r">
  <input type="text" name="search" placeholder="Search" class="form-control form-control-lg">
  <button type="submit" class="btn btn-lg btn-success">Search</button>
</form>
</div>
<div class="table_gr" >
  <table border=1 class="table table-hover table-striped " , style="border: 2px solid black;">
    <tr style=" color: white">
      <th>name</th>
      <th>employ_id</th>
      <th>email</th>
      <th>contact</th>
      <th>address</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Show</th>
    </tr>
  <% @candidates.each do |candidate| %>
  <tr>
    <td ><h6><%= candidate.name %></h6></td>
    <td><p><%= candidate.employ_id %></p></td>
    
    <td><p><%= candidate.profile.email %></p></td>
    <td><p><%= candidate.profile.contact %></p></td>
    <td><p><%= candidate.profile.address %></p></td>
    
    <td><%= link_to "Edit", edit_candidate_path(candidate) %></td>
    <td><%= button_to "Delete" , candidate , method: :delete ,class: "btn-primary"%></td>
    <td>
    <p>
      <%= link_to "Show this candidate", candidate %>
    </p>
  </td>
  </tr>
  <% end %>
  </table>
</div>

<div style="position: relative;">
<%= link_to "New candidate", new_candidate_path ,class: 'btn btn-primary pos_r' %>
<!-- <%= link_to "Home" ,  home_index_path ,class: 'btn btn-primary pos_l' %> -->
</div>