<%= stylesheet_link_tag  "show" %>


<div class="card text-center" >
  <div class="card-body">
    <div class="formBox">
        <div class="formContainer">
   
<p>
  <strong>name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>employ_id:</strong>
  <%= @candidate.employ_id %>
</p>

<p>
  <strong>email:</strong>
  <%= @candidate.profile.email %>
</p>
<p>
  <strong>gender:</strong>
  <%= @candidate.profile.gender %>
</p>
<p>
  <strong>address:</strong>
  <%= @candidate.profile.address %>
</p>

<p>
  <strong>contact:</strong>
  <%= @candidate.profile.contact %>
</p>

<!-- <h5 class="card-title">profile:
    <% if @candidate.profile %>
  
      <%#<%= link_to  "view", edit_profile_path(@candidate.profile) %>  

    <%else%>
    null
    <%#<%= link_to  "create new", new_profile_path(candidate_id: @candidate.id) %>  
    <%end%>
  </h5> -->
  </div>
  </div>
  </div>
  </div>

<div>
  <%= link_to "Edit this candidate", edit_candidate_path(@candidate) %> |
  <%= link_to "Back to candidates", candidates_path %>

  <%= button_to "Destroy this candidate", @candidate, method: :delete ,class: "btn btn-primary btn-sm mt-4"%>
</div>
