<div class="container-md">
  <div class="card text-center table_gr" >
      <%= link_to "arrow_back", candidates_path ,class:"pos_card_l material-symbols-outlined"  %>
      <h3 class="center_h">
        <strong>Candidate</strong>
      </h3>
  
      <div class="card-body">
        <!-- <div class="formBox"> -->
        <div>
            <div class="formContainer">
              <table class="show_table">
                <tr>
                  <th>name:</th>
                  <td> <%= @candidate.name %></td>
                </tr>
                <tr>
                  <th>employ_id:</th>
                  <td>  <%= @candidate.employ_id %></td>
                </tr>
                <tr>
                  <th>email:</th>
                  <td>  <%= @candidate.profile.email %></td>
                </tr>
                <tr>
                  <th>gender:</th>
                  <td>  <%= @candidate.profile.gender %></td>
                </tr>
                <tr>
                  <th>address:</th>
                  <td>  <%= @candidate.profile.address %></td>
                </tr>
                <tr>
                  <th>contact:</th>
                  <td>  <%= @candidate.profile.contact %></td>
                </tr>
                <!-- <tr>
                  <th>core Skill:</th>
                  <td>  <%#= @candidate.core_tech&.title %></td>
                </tr>
                <tr>
                  <th>Supportive Skills:</th>
                  <td> 
                  
                    <% @candidate.supportive_techs.each do |skill| %>
                      <%#= skill.title.to_s+","%>
                    <%end%>
                  </td>
                </tr> -->
              </table>
            </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <%= link_to "Edit this candidate", edit_candidate_path(@candidate) ,class: "btn btn-outline-info" %>
        <%= button_to "Destroy this candidate", @candidate, method: :delete ,class:"btn btn-outline-danger"%>
      </div>
  </div>
</div>