
<div class="card text-center" >
  <div class="card-header">
     <h3>
      <strong>Title:</strong>
      <%= @cv_p.title %>
    </h3>

  </div>

  <div class="card-body">

    <div class="formBox">
        <div class="formContainer">
    <h5 >Description</h5>
    <p >
      <%= @cv_p.desc %>
    </p>


    <%if !@cv_p.team_size.blank?%>
    <h5 >Team Size</h5>
    <p >
      <%= @cv_p.team_size %>
    </p>
    <%end%>

  
    <div class="row justify-content-md-center">
    <div class="col-5">
    <h5 >Start Date</h5>
    <p >
      <%= @cv_p.start_date %>
    </p>
  </div>
  <div class="col-5">
    <h5 >End Date</h5>
    <p >
      <%if !@cv_p.end_date.blank?%>
      <%= @cv_p.end_date %>
      <%else %>
       Project is still running
       <%end%>
    </p>
  </div>
  </div>
  <br>
  <% if !@cv_p.core_skill.blank? %>
    <h5 >Core Skill</h5>
    <p >
      <%= @cv_p.core_skill&.title %>
    </p>
    <%end%>

    <% if !@cv_p.supportive_skills.blank? %>
    <h5 >Supportive Skills</h5>
    <p >
      <% @cv_p.supportive_skills.each do |supportive_skill| %>
     <%= supportive_skill.title+"," %>
    <%end%>
    </p>
    <%end%>
    </div>
    </div>
  </div>
  <select multiple="multiple" class="selectpicker show-menu-arrow form-control" name="curriculum_vitae[supportive_skill_ids][]" id="curriculum_vitae_supportive_skill_ids" tabindex="-98"><option selected="selected" value="2">JS</option>
    <option selected="selected" value="3">CSS</option></select>

</div>