<%= form_with(model: project) do |form| %>

      <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title ,class:"form-control" %>
          <%= helper_custom_error( form , :title) %> 
        </div>
        
        <div class="form-group">
          <%= form.label :desc %>
          <%= form.text_area :desc ,class:"form-control"%>
          <%= helper_custom_error( form , :desc) %> 
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
            <%= form.label :domain %>
            <%= link_to "+ Add Domain", new_domain_path , remote: true %>
             <%= form.fields_for :linkable_domain_attributes, @project.linkable_domain do |f| %>
                <%= f.collection_select :domain_id, Domain.all, :id, :title, { include_blank: true  } ,{ class: "form-control domain_selector"}%>
             <% end %>
             <%= helper_custom_error( form , :linkable_domain) %> 
        </div>

        <div class="col-md-6 form-group">
            <%= form.label :team_size %>
            <%= form.number_field :team_size ,class:"form-control"%>
        </div>
      </div>

      <div>
        <div class="row form-group">
          <div class="col-6">
            <%= form.label :start_date %>
            <%= form.date_field :start_date , max: Date.today ,class: 'form-control  container' ,id: "start_date_id" , onchange: "updateEndDate()"%>
            <%= helper_custom_error( form , :start_date) %> 
          </div>
          <div class="col-6">
            <%= form.label :end_date %>
            <%= form.date_field :end_date , max: Date.today ,class: 'form-control  container',id: "end_date_id" ,onchange: "checkboxTogle()"%>
            <%= helper_custom_error( form , :date_validation) %> 
          </div>
        </div>
        
        <div style="padding-left: 4%;" class="form-inline">
          <input type="checkbox" <%= (project.end_date == nil ) && (project.end_date!= nil)  ? 'checked' : '' %> id="inprogress_id" onchange="endDateDisable()">
          <p style="margin-bottom: 0px;color: #657079;">currently running</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :core_skill %>
          <%= link_to "+ Add Skill", new_tech_stack_path , remote: true %>
          <%= form.fields_for :linkable_core_tech_attributes, @project.linkable_core_tech do |cs| %> 
            <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{class: "form-control core_skill_selector" ,style:"margin-top: 7px;"} %>
          <% end %>
          <%= helper_custom_error( form , :linkable_core_tech) %> 
        </div>

        <div class="col-md-6 form-group">
          <%= form.label :supportive_skill  %>
          <%= link_to "+ Add Skill", new_tech_stack_path , remote: true %>
          <div>
            <%= form.collection_select(:supportive_skill_ids, TechStack.all, :id, :title , {}, { multiple: true,
              include_blank: false,class: "selectpick show-menu-arrow form-control supportive_skill_selector" }) %>
          </div>
        </div>
        
      </div>

      <div>
        <%= form.submit class: 'btn btn-success' %>
      </div>
<% end %>
