<%# <style>
.col-6
{
  margin: 0;
}</style> %>
<%= stylesheet_link_tag  "show" %>

<div class="card text-center" >
  <div class="card-header">
    <h3>
      <strong>Title:</strong>
      <%= @project.title %>
    </h3>

  </div>

  <div class="card-body">

    <div class="formBox">
        <div class="formContainer">

          <div class="row justify-content-md-center">
            <div class="col-5">
            <h5 >Created by</h5>
            <p >
              <%= @project.created_by %>
            </p>
          </div>
          <div class="col-5">
            <h5 >Updated By</h5>
            <p >
              <%= @project.updated_by %>
            </p>
          </div>
          </div>

    <h5 >Description</h5>
    <p >
      <%= @project.desc %>
    </p>

    <%if !@project.domain.blank?%>
    <h5 >Domain</h5>
    <p >
      <%= @project.domain.title %>
    </p>
    <%end%>

    <%if !@project.team_size.blank?%>
    <h5 >Team Size</h5>
    <p >
      <%= @project.team_size %>
    </p>
    <%end%>
    <%if !@project.role.blank?%>
    <h5 >Roles & Responsability</h5>
    <p >
      <!-- text area?? -->
      <%= @project.role %>
    </p>
    <%end%>
    <div class="row justify-content-md-center">
    <div class="col-5">
    <h5 >Start Date</h5>
    <p >
      <%= @project.start_date %>
    </p>
  </div>
  <div class="col-5">
    <h5 >End Date</h5>
    <p >
      <%= @project.end_date %>
    </p>
  </div>
  </div>
  <br>
    <h5 >Core Skill</h5>
    <p >
      <%= @project.core_skill&.title %>
    </p>

    <h5 >TechStacks</h5>
    <p >
      <% @project.supportive_skills.each do |supportive_skill| %>
     <%= supportive_skill.title+"," %>
    <%end%>
    </p>
    </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete ,class:"btn btn-primary btn-sm mt-4"%>
  </div>
</div>

