<style>
.col-6
{
  margin: 0;
}</style>
<div class="card text-center" >
  <div class="card-header">
    <h3>
      <strong>Title:</strong>
      <%= @project.title %>
    </h3>

  </div>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text">
      <%= @project.desc %>
    </p>
    <div class="row justify-content-md-center">
    <div class="col-2">
    <h5 class="card-title">Start Date</h5>
    <p class="card-text">
      <%= @project.start_date %>
    </p>
  </div>
  <div class="col-2">
    <h5 class="card-title">End Date</h5>
    <p class="card-text">
      <%= @project.end_date %>
    </p>
  </div>
  </div>
  <br>
    <h5 class="card-title">Core Skill</h5>
    <p class="card-text">
      <%= @project.core_skill&.title %>
    </p>

    <h5 class="card-title">TechStacks</h5>
    <p class="card-text">
      <% @project.supportive_skills.each do |supportive_skill| %>
     <%= supportive_skill.title+"," %>
    <%end%>
    </p>

  </div>
  <div class="card-footer text-muted">
    
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete ,class:"btn btn-primary btn-sm mt-4"%>
  </div>
</div>

