<style>
  .btn-light
  {
        border: #373b3f4a solid 2px;
  }
          .deleteg{
            margin-left: 5px;
            margin-top: 5px;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
          }
          .btn-add-g
          {
            font-size: 13px;margin-top: 4px;padding-left: 13px;padding-top: 6px;padding-bottom: 6px;padding-right: 16px;
          }
</style>
<%= form_with(model: curriculum_vitae )do |form| %>

  <% if curriculum_vitae.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2>
        <%= pluralize(curriculum_vitae.errors.count, "error" ) %> errors found , cant be save
      </h2>

      <ul>
        <% curriculum_vitae.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div>
          <%= form.label "Candidate ID" , style: "display: block" ,class: "" %>
            <%= form.collection_select(:candidate_id, Candidate.all, :id, :name, { include_blank: true ,selected:
              @curriculum_vitae.candidate&.id} ,{required: true ,class: "form-control"})%>
        </div>
  
      </div>
      <div class="col-md-6">
        <div>
          <%= form.label "Role" , style: "display: block" ,class: "" %>
            <%= form.text_field :objective ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
        </div>
      </div>
    </div>
      

    <div>
      <%= form.label "Profile Description" , style: "display: block" ,class: "" %>
        <%= form.text_area :profile_desc ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
    </div>

    <div class="row">

       
      <div class="col-md-6">
        <%= form.label "Core Skill" , style: "display: block" ,class: "" %>
          <%= form.fields_for :curriculum_vitae_core_tech_attributes, curriculum_vitae.curriculum_vitae_core_tech do  |cs| %>
            <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{ id: "core_tech_select_id" ,class: "form-control"}%>
          <% end %>

          <% curriculum_vitae.errors[:curriculum_vitae_core_tech].each do |message| %>
          <span style="background: cornsilk; color: red; border-radius: 5px;">
            <%= message %>
          </span>
          <%end%>
      </div>
      <!-- skills ++ -->
      <div class="col-md-6">
        <%= form.label :supportive_skills, style: "display: block" ,class: "" %>
           <%= form.collection_select(:supportive_skill_ids, TechStack.supportive_skills, :id, :title , {}, {multiple: true ,class: "selectpicker show-menu-arrow form-control"}) %>
      </div>

      
    </div>
    
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col-md-6 repeater" style="padding-right: 0px;padding-left: 0px;">
        <div class="row" style="margin-left: 0px;">
          <div class="col-3" style="padding-right: 0px;padding-left: 0px;">
            <%= form.label "Experience" %>
          </div>
          <div class="col-7" style="padding-right: 0px;">
            <%= form.label "Company Name"  %>
          </div>
        </div>
      <div data-repeater-list="company_experience" >
        <div class="row" data-repeater-item  style="margin-left: 0px;margin-top: 4px; margin-bottom: 2px;">
          <div class="col-3" style="padding-right: 0px;padding-left: 0px;">
            <%= form.number_field :experience ,class: "form-control" %>
          </div>
          <div class="col-7" style="padding-right: 0px;">
            <%= form.text_field :company  ,class: "form-control" %>
          </div>
          <div class="col-1" style="padding-left: 0px;padding-right: 0px;">
            <button type="button" data-repeater-delete="" class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;"></button>
          </div>
        </div>
      </div>
        <div>
              <button type="button" data-repeater-create class="btn btn-outline-info btn-sm btn-add-g" >+ Add</button>
            </div>

       </div>
       <script>
        $('.repeater').repeater();
        </script>
      <!-- by using grouped_options_for_select  // at hepler method -->
       <div class="col-md-6" style="padding-right: 0px;">
         <%= form.label "Projects" , style: "display: block " ,class: "" %>
            <%= form.select(:project_ids, grouped_options_for_select(helper_grouped_projects_options , selected: curriculum_vitae.project_ids), {}, { multiple: true, include_blank: false ,class: "selectpicker show-menu-arrow form-control" , 'data-live-search': "true" }) %>
           <!-- error message-->
           <% curriculum_vitae.errors[:projects].each do |message| %>
             <span style="background: cornsilk; color: red; border-radius: 5px;">
              <%= message %>
             </span>
           <%end%>
       </div>
      


     </div>

      <div class="row">

      
      <div class="col-md-6">
        <%= form.label "select profile image" , style: "display: block", class: "" %>
          <%= form.file_field :image %>
      </div>

      <div class="col-md-6">
        <%= form.label "Layout" , style: "display: block" ,class: "" %>
          <% template_files=Dir.glob(Rails.root.join('app', 'views' , 'HTML_templates' , '*.html.erb' )) %>
            <% @template_options=template_files.map { |file| File.basename(file, '.html.erb' ) }%>
              <%= form.select(:template_name, @template_options , {}, {class: "form-control"}) %>
      </div>
    </div>

      <%= form.submit class: 'btn-primary' , style: "margin-top: 20px;" %>
 <% end%>