<%= form_with(model: curriculum_vitae )do |form| %>

  <% if curriculum_vitae.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2>
        <%= pluralize(curriculum_vitae.errors.count, "error" ) %> errors found , cant be save
      </h2>

      <ul>
        <% curriculum_vitae.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>


      <div>
        <%= form.label "Candidate ID" , style: "display: block" ,class: "text-white" %>
          <%= form.collection_select(:candidate_id, Candidate.all, :id, :name, { include_blank: true ,selected:
            @curriculum_vitae.candidate&.id} ,{required: true})%>
      </div>



      <div>
        <%= form.label "Role" , style: "display: block" ,class: "text-white" %>
          <%= form.text_field :objective ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
      </div>
      <div>
        <%= form.label "Profile Description" , style: "display: block" ,class: "text-white" %>
          <%= form.text_area :profile_desc ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
      </div>

      <div>
        <%= form.label "Experience" , style: "display: block" ,class: "text-white" %>
          <%= form.number_field :experience ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
      </div>

      <div>
        <%= form.label "Core Skill" , style: "display: block" ,class: "text-white" %>
          <!-- <%= collection_select( nil , :core_skill_id, TechStack.all, :id, :title, { include_blank: true ,selected: curriculum_vitae.core_skill&.id } )%> -->

          <%= form.fields_for :curriculum_vitae_core_tech_attributes, curriculum_vitae.curriculum_vitae_core_tech do  |cs| %>
            <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{ id: "core_tech_select_id" }%>
          <% end %>
      </div>
      <!-- skills ++ -->
      <div>
        <%= form.label :supportive_skills, style: "display: block" ,class: "text-white" %>
          <!-- <%= form.collection_select(:supportive_skill_ids, TechStack.supportive_skills, :id, :title , {}, { multiple: true, include_blank: false ,id: 'supportive_skill' }) %>
            <script>
              new MultiSelectTag('supportive_skill')
            </script> -->
           <%= form.collection_select(:supportive_skill_ids, TechStack.supportive_skills, :id, :title , {}, {multiple: true   , include_blank: false ,class: "selectpicker show-menu-arrow form-control" , 'data-live-search': "true"}) %>
      </div>

      <!-- by using grouped_options_for_select  // at hepler method -->
      <div>
        <%= form.label "Projects" , style: "display: block" ,class: "text-white" %>
          <!-- <%= form.select(:project_ids, grouped_options_for_select(helper_grouped_projects_options), {}, { multiple: true, include_blank: false ,class: "selectpicker show-menu-arrow form-control" , 'data-live-search': "true" }) %> -->
          <%= form.select(:project_ids, grouped_options_for_select(helper_grouped_projects_options , selected: curriculum_vitae.project_ids), {}, { multiple: true, include_blank: false ,class: "selectpicker show-menu-arrow form-control" , 'data-live-search': "true" }) %>
            <!-- error message-->
            <% curriculum_vitae.errors[:projects].each do |message| %>
              <span style="background: cornsilk; color: red; border-radius: 5px;">
                <%= message %>
              </span>
              <%end%>

                <%# <%=form.error_message_on :projects, class: 'error-message' %>
                  <%# <%=error_message_on "tech_stack" , "projects" %>

                    <%# <%=form.error :projects %>

                      <!-- </div> -->
      </div>

      <div>
        <%= form.label "select profile image" , style: "display: block", class: "text-white" %>
          <%= form.file_field :image %>
      </div>

      <div>
        <%= form.label "Layout" , style: "display: block" ,class: "text-white" %>
          <% template_files=Dir.glob(Rails.root.join('app', 'views' , 'HTML_templates' , '*.html.erb' )) %>
            <% @template_options=template_files.map { |file| File.basename(file, '.html.erb' ) }%>

              <!-- <select required name="curriculum_vitae[template_name]">
                <option value="">select any template</option>
                <% @template_options.each do |template_option| %>
                  <option value="<%= template_option %>">
                    <%= template_option.titleize %>
                  </option>
                  <% end %>

              </select> -->
              <%= form.select(:template_name, @template_options , {}, {}) %>
      </div>

      <%= form.submit class: 'btn-primary' , style: "margin-top: 20px;" %>
        <% end%>