<style>
  .btn-light
  {
        border: #373b3f4a solid 2px;
  }
          .deleteg , .g_sm_btn {
            margin-left: 5px;
            margin-top: 5px;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
          }

          .btn-add-g
          {
            font-size: 13px;margin-top: 4px;padding-left: 13px;padding-top: 6px;padding-bottom: 6px;padding-right: 16px;
          }
</style>
<%= form_with(model: curriculum_vitae )do |form| %>

  <% if curriculum_vitae.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2>
        <%= pluralize(curriculum_vitae.errors.count, "error" ) %> errors found , cant be save
      </h2>

      <ul>
        <% curriculum_vitae.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div>
          <%= form.label "Candidate" , style: "display: block" ,class: "" %>
            <%= form.collection_select(:candidate_id, Candidate.all, :id, :name, { include_blank: true ,selected:
              @curriculum_vitae.candidate&.id} ,{required: true ,class: "form-control"})%>
        </div>
  
      </div>
      <div class="col-md-6">
        <div>
          <%= form.label "Role" , style: "display: block" ,class: "" %>
            <%= form.text_field :objective ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
        </div>
      </div>
    </div>
      

    <div>
      <%= form.label "Profile Description" , style: "display: block" ,class: "" %>
        <%= form.text_area :profile_desc ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
    </div>

    <div class="row">

       
      <div class="col-md-6">
        <%= form.label "Core Skill" , style: "display: block" ,class: "" %>
          <%= form.fields_for :curriculum_vitae_core_tech_attributes, curriculum_vitae.curriculum_vitae_core_tech do  |cs| %>
            <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{ id: "core_tech_select_id" ,class: "form-control"}%>
          <% end %>

          <% curriculum_vitae.errors[:curriculum_vitae_core_tech].each do |message| %>
          <span style="background: cornsilk; color: red; border-radius: 5px;">
            <%= message %>
          </span>
          <%end%>
      </div>
      <!-- skills ++ -->
      <div class="col-md-6">
        <%= form.label :supportive_skills, style: "display: block" ,class: "" %>
           <%= form.collection_select(:supportive_skill_ids, TechStack.supportive_skills, :id, :title , {}, {multiple: true ,class: "selectpicker show-menu-arrow form-control"}) %>
      </div>

      
    </div>
    
    <!-- <div class="row" style="margin-left: 0px;margin-right: 0px;"> -->

      <div class="repeater_experience" >
        <div class="row" style="margin-left: 0px;">
          <div class="col-7" style="padding-right: 0px;padding-left: 0px;">
            <%=form.label "Company Name"  %>
          </div>
          <div class="col-3" style="padding-right: 0px;">
            <%=form.label "Experience" %>
          </div>
        </div>
        <div data-repeater-list="curriculum_vitae[company_experiences_attributes]" >
            <%= form.fields_for :company_experiences do |company_experience_form| %>
            <div class="row" data-repeater-item  style="margin-left: 0px;margin-top: 4px; margin-bottom: 2px;">
              <div class="col-7" style="padding-right: 0px;padding-left: 0px;">
                <%= company_experience_form.text_field :company_name  ,class: "form-control" %>
              </div>
              <div class="col-3" style="padding-right: 0px;">
                <%= company_experience_form.number_field :experience ,class: "form-control" ,style: "padding-right: 1px;padding-left: 9px;"%>
              </div>
              <div class="col-1" style="padding-left: 0px;padding-right: 0px;">
                <!-- <button type="button" data-repeater-delete="" class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;"></button> -->
                <!-- <button type="button" class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;" , onclick="deleteRepeaterItem(this);"></button> -->
                <button type="button"  class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;" , onclick="deleteRepeaterItem(this);"></button>
              </div>
              <%= company_experience_form.hidden_field :_destroy, class: "destroy-field" %>
            </div>
            <%end%>
          </div>
       <button type="button" data-repeater-create class="btn btn-outline-info btn-sm btn-add-g" >+ Add</button>
       
      </div>

          

      <div class="repeater_proj" >
        <h3>Projects</h3>
        <div data-repeater-list="curriculum_vitae[cv_projects_attributes]" >
          <%= form.fields_for :cv_projects do |project_form| %>
            <div class="row" data-repeater-item  style="margin-left: 0px;margin-top: 4px; margin-bottom: 2px;">
              <div class="col-3" style="padding-right: 0px;padding-left: 0px;">
                <%= project_form.select(:original_project_id, grouped_options_for_select(helper_grouped_projects_options , selected: curriculum_vitae.cv_project_ids), {prompt: "Select a project"}, {class: "form-control" ,onchange: "project_select(this)"}) %>
              </div>
              <div class="col-7" hidden="true" id="cloned_content">
                <!-- container ......... -->
                <div class="form-group">
                  <%= project_form.label :title, style: "display: block" ,class: "" %>
                  <%= project_form.text_field :title ,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= project_form.label :desc, style: "display: block" ,class: "" %>
                  <%= project_form.text_area :desc ,class:"form-control"%>
                </div>
                <div class="form-group">
                  <%= project_form.label :team_size, style: "display: block" ,class: "" %>
                  <%= project_form.number_field :team_size ,class:"form-control"%>
                </div>
                <div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <%= project_form.label :start_date, style: "display: block" ,class: "" %>
                        <%= project_form.date_field :start_date , max: Date.today ,class: 'form-control  container' ,id: "start_date_id"%>
                      </div>
                      <div class="col-6">
                        <%= project_form.label :end_date, style: "display: block" ,class: "" %>
                        <%= project_form.date_field :end_date , max: Date.today ,class: 'form-control  container',id: "end_date_id"%>
                      </div>
                    </div>
                  </div>
                  <div style="padding-left: 4%;" class="form-inline">
                    <input type="checkbox" id="inprogress_id">
                    <p style="margin-bottom: 0px;color: #657079;">currently running</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= project_form.label :core_skill, style: "display: block" ,class: "" %>
                      <!-- <%= project_form.fields_for :linkable_core_tech_attributes do |cs| %>
                        <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{class: "form-control" ,style:"height: 45px; margin-top: 7px;"} %>
                        <%end%> -->
                        <%= project_form.collection_select :proj_core_skill_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{class: "form-control" ,style:"height: 45px; margin-top: 7px;"} %>
                      <!-- <select class="form-control" style="height: 45px; margin-top: 7px;" name="[linkable_core_tech_attributes][tech_stack_id]" id="project_linkable_core_tech_attributes_tech_stack_id"><option value="" label=" "></option>
                        <option value="1">Java</option>
                        <option value="7">Node Js</option>
                        <option selected="selected" value="4">Python</option>
                        <option value="8">ror</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= project_form.label :proj_supportive_skills , style: "display: block" ,class: "" %>
                      <div>
                        <%#= project_form.collection_select(:proj_supportive_skill_ids, TechStack.supportive_skills, :id, :title ,{}, { multiple: true ,onclick:"supportive_skills_fix()"}) %>
                        <%= project_form.collection_select(:proj_supportive_skill_ids, TechStack.supportive_skills, :id, :title ,{}, { multiple: true ,class:"picker" ,onclick:"supportive_skills_fix()"}) %>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2" style="padding: 0; height: 37px;display: inline-flex;">
                <!-- - -->
                <button type="button"  class="g_sm_btn g btn btn-outline-danger  fa fa-close " , onclick="deleteRepeaterItem(this);" ></button>
                <button type="button" class="btn btn-outline-info fa fa-eye-slash g_sm_btn" , onclick="showHide(this);" ></button>
                <!-- fa-eye-slash -->
              </div>
              <%= project_form.hidden_field :_destroy, class: "destroy-field" %>
            </div>
          <%end%>
        </div>
        <div>
          <button type="button" data-repeater-create class="btn btn-outline-info btn-sm btn-add-g" , onclick="select_picker_refresh()">+ Add</button>
        </div>
      </div>
      <div class="row">      
      <div class="col-md-6">
        <%= form.label "select profile image" , style: "display: block", class: "" %>
          <%= form.file_field :image %>
      </div>

      <div class="col-md-6">
        <%= form.label "Layout" , style: "display: block" ,class: "" %>
          <% template_files=Dir.glob(Rails.root.join('app', 'views' , 'HTML_templates' , '*.html.erb' )) %>
            <% @template_options=template_files.map { |file| File.basename(file, '.html.erb' ) }%>
              <%= form.select(:template_name, @template_options , {}, {class: "form-control"}) %>
      </div>
    </div>

      <%= form.submit class: 'btn-primary' , style: "margin-top: 20px;" %>
 <% end%>

 <script>
   function deleteRepeaterItem(button) {
   var item = $(button).closest('[data-repeater-item]');
   var destroyField = item.find('.destroy-field');
   destroyField.val('true'); 
   button.closest('[data-repeater-item]').hidden = true;
   }
   
   
  
      function showHide(curr_obj) {
        d = curr_obj.closest("[data-repeater-item]");
        // debugger
        if(d.children[1].hidden == true)
        {
          $(curr_obj).removeClass("fa-eye-slash")
          $(curr_obj).addClass("fa-eye")
          d.children[1].hidden = false;
        } else
        {
          $(curr_obj).removeClass("fa-eye")
          $(curr_obj).addClass("fa-eye-slash")
          d.children[1].hidden =true;
        }
        select_picker_refresh();
      }

      function project_select(curr_obj)
      { 
        var projId = $(curr_obj).val();
        obj_content = curr_obj.closest("[data-repeater-item]").children[1];
        $.ajax({
          url: '/projects/'+projId+'/cv_project_details.json',
          method: 'GET',
          dataType: 'json',
          success: function(response){
            // debugger
            // $(obj_content).html(response);

            // $(obj_content).find("[name*='title']").val(response.project.title);
            // $(obj_content).find("[name*='desc']").val(response.project.desc);
            // $(obj_content).find("[name*='team_size']").val(response.project.team_size);
            // $(obj_content).find("[name*='start_date']").val(response.project.start_date);
            // $(obj_content).find("[name*='end_date']").val(response.project.end_date);
            
            for( prop in response.project)
            {
              if( $(obj_content).find("[name*='["+prop+"]']").length > 0  )
                $(obj_content).find("[name*='["+prop+"]']").val(response.project[prop]);
            }
            $(obj_content).find("[name*='[proj_core_skill_id]']").val(response.core_skill_id);
            $(obj_content).find("[name*='[proj_supportive_skill_ids]']").val(response.supportive_skill_ids);
            select_picker_refresh();
          }
        })
      }
      function supportive_skills_fix()
      {
      $('input[name*="proj_supportive_skill_ids"]').remove();
      }
      function select_picker_refresh()
      {
      $('select').selectpicker('refresh');
      }

      
          //  on load
      supportive_skills_fix();  

      $('.repeater_experience').repeater();
      $('.repeater_proj').repeater();
      $('select').selectpicker(
        { liveSearch: true}
      );

      // $('select[name*="proj_supportive_skill_ids"]').each(function(index, element) {
      //     new  MultiSelectTag(element.id);
      // });
    </script>