<style>
  .btn-light
  {
        border: #373b3f4a solid 2px;
  }
          .deleteg , .g_sm_btn {
            margin-left: 5px;
            margin-top: 5px;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
          }

          .btn-add-g
          {
            font-size: 13px;margin-top: 4px;padding-left: 13px;padding-top: 6px;padding-bottom: 6px;padding-right: 16px;
          }
</style>
<%= form_with(model: curriculum_vitae )do |form| %>

  <% if curriculum_vitae.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h2>
        <%= pluralize(curriculum_vitae.errors.count, "error" ) %> errors found , cant be save
      </h2>

      <ul>
        <% curriculum_vitae.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-6">
        <div>
          <%= form.label "Candidate" , style: "display: block" ,class: "" %>
            <%#= form.collection_select(:candidate_id, Candidate.all, :id, :name, { include_blank: true ,selected:   @curriculum_vitae.candidate&.id} ,{required: true ,class: "form-control"})%>
            <%#= form.collection_select(:candidate_id, Candidate.all, :id, :name, { include_blank: true } ,{required: true ,class: "form-control"})%>
            <%= form.collection_select(:candidate_id, Candidate.all, :id,->(candidate){"#{candidate.name} , #{candidate.profile.email}"}, { include_blank: true } ,{required: true ,class: "form-control"})%>
        </div>
  
      </div>
      <div class="col-md-6">
        <div>
          <%= form.label "Designation" , style: "display: block" ,class: "" %>
            <%= form.text_field :objective ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
        </div>
      </div>
    </div>
      

    <div>
      <%= form.label "Profile Description" , style: "display: block" ,class: "" %>
        <%= form.text_area :profile_desc ,style: "width: 100%;text-align: center;" ,class: "form-control" %>
    </div>

    <div class="row">

       
      <div class="col-md-6">
        <%= form.label "Core Skill" , style: "display: block" ,class: "" %>
          <%= form.fields_for :curriculum_vitae_core_tech_attributes, curriculum_vitae.curriculum_vitae_core_tech do  |cs| %>
            <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{ id: "core_tech_select_id" ,class: "form-control"}%>
          <% end %>

          <% curriculum_vitae.errors[:curriculum_vitae_core_tech].each do |message| %>
          <span style="background: cornsilk; color: red; border-radius: 5px;">
            <%= message %>
          </span>
          <%end%>
      </div>
      <!-- skills ++ -->
      <div class="col-md-6">
        <%= form.label :supportive_skills, style: "display: block" ,class: "" %>
           <%= form.collection_select(:supportive_skill_ids, TechStack.supportive_skills, :id, :title , {}, {multiple: true ,class: "selectpicker show-menu-arrow form-control"}) %>
      </div>

      
    </div>
    
    <!-- <div class="row" style="margin-left: 0px;margin-right: 0px;"> -->

      <div class="repeater_experience" style="margin-top: 10px;margin-bottom: 8px;" >
        <h3>Experience</h3>
        <div data-repeater-list="curriculum_vitae[company_experiences_attributes]" >
            <%= form.fields_for :company_experiences do |company_experience_form| %>
            <div class="row" data-repeater-item  style="margin-left: 0px;margin-top: 10px; margin-bottom: 2px;">
              <div class="col-6" style="padding-right: 0px;padding-left: 0px;">
                <%=form.label "Company Name"  %>
                <%= company_experience_form.text_field :company_name  ,class: "form-control" %>
                <%=form.label "Role" ,style:"margin-top: 0px;" %>
                <%= company_experience_form.text_field :role  ,class: "form-control" %>
              </div>
              <div class="col-5" style="padding-right: 0px;">
                
                <%#= company_experience_form.number_field :experience ,class: "form-control" ,style: "padding-right: 1px;padding-left: 9px;"%>
                      <div class="row">
                        <div class="col-6" style="padding-right: 2px;">
                          <%=form.label :start_date, style: "display: block" %>
                          <%= company_experience_form.date_field :start_date , max: Date.today ,class: 'form-control start_date container' ,required: "true" ,onchange:"updateEndDate(this)"%>
                        </div>
                        <div class="col-6" style="padding-left: 2px;">
                          <%=form.label :end_date, style: "display: block" %>
                          <%= company_experience_form.date_field :end_date , max: Date.today ,class: 'form-control end_date container' , onchange: "checkboxTogle(this)"%>
                        </div>
                      </div>
                      <div style="padding-left: 4%;" class="form-inline">
                        <input type="checkbox" class="inprogress_checkbox" onchange="endDateDisable(this)">
                        <p style="margin-bottom: 0px;color: #657079;">currently running</p>
                      </div>
              </div>
              <div class="col-1" style="padding-left: 0px;padding-right: 0px;padding-top: 28px;">
                <!-- <button type="button" data-repeater-delete="" class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;"></button> -->
                <!-- <button type="button" class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;" , onclick="deleteRepeaterItem(this);"></button> -->
                <button type="button"  class="deleteg btn btn-outline-danger btn-sm fa fa-close " style="font-size: 13px;" , onclick="deleteRepeaterItem(this);"></button>
              </div>
              <%= company_experience_form.hidden_field :_destroy, class: "destroy-field" %>
            </div>
            <%end%>
          </div>
       <button type="button" data-repeater-create class="btn btn-outline-info btn-sm btn-add-g" >+ Add</button>
       
      </div>

      <div class="repeater_proj" >
        <h3>Projects</h3>
        <div data-repeater-list="curriculum_vitae[cv_projects_attributes]" >
          <%= form.fields_for :cv_projects do |project_form| %>
            <div class="row" data-repeater-item  style="margin-left: 0px;margin-top: 4px; margin-bottom: 2px;">
              <div class="col-3" style="padding-right: 0px;padding-left: 0px;">
                <%= project_form.select(:original_project_id, grouped_options_for_select(helper_grouped_projects_options , selected: project_form.object.original_project_id), {prompt: "Select a project"}, {class: "form-control" ,onchange: "project_select(this)"}) %>
                 <!-- <%= project_form.collection_select(:original_project_id, Project.all, :id, :title, {prompt: "Select a project"} ,{class: "form-control",onchange: "project_select(this)"})%> -->
              </div>
              <div class="col-7" id="cloned_content">
                <!-- container ......... -->
                <div class="form-group">
                  <%= project_form.label :title, style: "display: block" ,class: "" %>
                  <%= project_form.text_field :title ,class:"form-control" %>
                </div>
                <div class="form-group">
                  <%= project_form.label :desc, style: "display: block" ,class: "" %>
                  <%= project_form.text_area :desc ,class:"form-control"%>
                </div>
                <div class="form-group">
                  <%= project_form.label :role, style: "display: block" ,class: "" %>
                  <%= project_form.text_field :role ,class:"form-control"%>
                </div>
                <div class="form-group">
                  <%= project_form.label :team_size, style: "display: block" ,class: "" %>
                  <%= project_form.number_field :team_size ,class:"form-control"%>
                </div>
                <div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <%= project_form.label :start_date, style: "display: block" %>
                        <%= project_form.date_field :start_date , max: Date.today ,class: 'form-control start_date container' ,onchange:"updateEndDate(this)"%>
                      </div>
                      <div class="col-6">
                        <%= project_form.label :end_date, style: "display: block"  %>
                        <%= project_form.date_field :end_date , max: Date.today ,class: 'form-control end_date container',onchange:"checkboxTogle(this)"%>
                      </div>
                    </div>
                  </div>
                  <div style="padding-left: 4%;" class="form-inline">
                    <input type="checkbox" id="inprogress_id" class="inprogress_checkbox" onchange="endDateDisable(this)">
                    <p style="margin-bottom: 0px;color: #657079;">currently running</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= project_form.label :core_skill, style: "display: block" ,class: "" %>
                      <!-- <%= project_form.fields_for :linkable_core_tech_attributes do |cs| %>
                        <%= cs.collection_select :tech_stack_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{class: "form-control" ,style:"height: 45px; margin-top: 7px;"} %>
                        <%end%> -->
                        <%= project_form.collection_select :proj_core_skill_id, TechStack.core_skills.order(:title), :id, :title, { include_blank: true } ,{class: "form-control" ,style:"height: 45px; margin-top: 7px;"} %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= project_form.label :proj_supportive_skills , style: "display: block" ,class: "" %>
                      <div>
                        <%= project_form.collection_select(:proj_supportive_skill_ids, TechStack.supportive_skills, :id, :title ,{}, { multiple: true ,class:"selectpicker" ,onclick:"supportive_skills_fix()"}) %> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2" style="padding: 0; height: 37px;display: inline-flex;">
                <!-- - -->
                <button type="button"  class="g_sm_btn g btn btn-outline-danger  fa fa-close " , onclick="deleteRepeaterItem(this);" ></button>
                <button type="button" class="btn btn-outline-info fa fa-eye-slash g_sm_btn" , onclick="showHide(this);" ></button>
                <!-- fa-eye-slash -->
              </div>
              <%= project_form.hidden_field :_destroy, class: "destroy-field" %>
            </div>
          <%end%>
        </div>
        <div>
          <button type="button" data-repeater-create class="btn btn-outline-info btn-sm btn-add-g" , onclick="select_picker_refresh()">+ Add</button>
        </div>
      </div>
      <div class="row">      
      <div class="col-md-6">
        <%= form.label "select profile image" , style: "display: block", class: "" %>
        <%= form.file_field :image %>
      </div>

      <div class="col-md-6">
        <%= form.label "Cv Layout" , style: "display: block" ,class: "" %>
        <% template_files=Dir.glob(Rails.root.join('app', 'views' , 'HTML_templates' , '*.html.erb' )) %>
        <% @template_options=template_files.map { |file| File.basename(file, '.html.erb' )[1..] }%>
        <%= form.select(:template_name, @template_options , {}, {class: "form-control"}) %>
      </div>
    </div>

      <%= form.submit class: 'btn-primary' , style: "margin-top: 20px;" %>
 <% end%>

 <!-- hidden button // refresh selector -->
  <script>
      function deleteRepeaterItem(button) {
      var item = $(button).closest('[data-repeater-item]');
      var destroyField = item.find('.destroy-field');
      destroyField.val('true'); 
      var i = item.index();
      if($('#curriculum_vitae_company_experiences_attributes_'+i+'_id')[0] != undefined)
        item[0].hidden = true;
      else
        item.remove();
      }
   
      function showHide(curr_obj) {
        d = curr_obj.closest("[data-repeater-item]");
        if(d.children[1].hidden == true)
        {
          $(curr_obj).removeClass("fa-eye")
          $(curr_obj).addClass("fa-eye-slash")
          d.children[1].hidden = false;
        } else
        {
          $(curr_obj).removeClass("fa-eye-slash")
          $(curr_obj).addClass("fa-eye")
          d.children[1].hidden =true;
        }
        select_picker_refresh();
      }

      function project_select(curr_obj)
      { 
        var projId = $(curr_obj).val();
        obj_content = curr_obj.closest("[data-repeater-item]").children[1];
        $.ajax({
          url: '/projects/'+projId+'/cv_project_details.json',
          method: 'GET',
          dataType: 'json',
          success: function(response){
             // $(obj_content).find("[name*='end_date']").val(response.project.end_date); 
            for( prop in response.project)
            {
              if( $(obj_content).find("[name*='["+prop+"]']").length > 0  )
                $(obj_content).find("[name*='["+prop+"]']").val(response.project[prop]);
            }
            $(obj_content).find("[name*='[proj_core_skill_id]']").val(response.core_skill_id);
            $(obj_content).find("[name*='[proj_supportive_skill_ids]']").val(response.supportive_skill_ids);
            select_picker_refresh();
          }
        })
      }
      function supportive_skills_fix()
      {
      $('input[name*="proj_supportive_skill_ids"]').remove();
      }
      function select_picker_refresh()
      {
        setTimeout(() =>{$('.selectpicker').selectpicker('refresh');}, "100")
      }
          //  on load
      supportive_skills_fix();  

      $('.repeater_experience').repeater();
      $('.repeater_proj').repeater();
      // $('select').selectpicker(
      $('.selectpicker').selectpicker(
        { liveSearch: true}
      );

      // $('select[name*="proj_supportive_skill_ids"]').each(function(index, element) {
      //     new  MultiSelectTag(element.id);
      // });
  </script>
    
  <script>
      ///// update date
      function updateEndDate(curr_obj)
      { 
        // debugger
        d = curr_obj.closest("[data-repeater-item]");
        inprogress_id = $(d).find('.inprogress_checkbox')[0];
        start_date_id = $(d).find('.start_date')[0];
        end_date_id = $(d).find('.end_date')[0];
        if(inprogress_id.checked != true)
        end_date_id.value = end_date_id.min = start_date_id.value
      }

      //  check box disabled , blank
      function endDateDisable(curr_obj)
      {
        d = curr_obj.closest("[data-repeater-item]");
        inprogress_id = $(d).find('.inprogress_checkbox')[0];
        start_date_id = $(d).find('.start_date')[0];
        end_date_id = $(d).find('.end_date')[0];
        if( inprogress_id.checked == true)
        {
          end_date_id.value = ""
        }
        else
        {
          updateEndDate(curr_obj)
        }
      } 
      function checkboxTogle(curr_obj)
        {  
          d = curr_obj.closest("[data-repeater-item]");
          inprogress_id = $(d).find('.inprogress_checkbox')[0];
          inprogress_id.checked = false;
        }
      // endDateDisable();
          // loading
          document.querySelectorAll('.end_date').forEach( e => { 
            if(e.value == '')
            {
                d = e.closest("[data-repeater-item]");
                inprogress_id = $(d).find('.inprogress_checkbox')[0];
                inprogress_id.checked = true;
            }
          });
  </script>   

    <!--  date field js -->
    