<div class="container">
  <div>
    <div class="row ">
      <div class="col-5">
        <div class="resume-base bg-primary user-dashboard-info-box p-4">
          <div class="profile">
            <div class="jobster-user-info">
              <div class="profile-avatar">
                <img src="<%= url_for(@curriculum_vitae.image.variant(resize_to_limit: [nil, 120])) %>"
                  alt="Curriculum Vitae Image">
              </div>
              <div class="profile-avatar-info mt-3">
                <h5 class="text-white">
                  <%= curriculum_vitae.candidate&.name %>
                </h5>
                <h6 class="text-white">
                  <%= curriculum_vitae.profile_desc %>
                </h6>
              </div>
            </div>
          </div>

          <% profile=curriculum_vitae.candidate.profile %>
            <div class="about-candidate border-top">
              <div class="candidate-info">
                <h6 class="text-white">Name:</h6>
                <p class="text-white">
                  <%= curriculum_vitae.candidate&.name %>
                </p>
              </div>
              <div class="candidate-info">
                <h6 class="text-white">Email:</h6>
                <p class="text-white">
                  <%= profile.email %>
                </p>
              </div>
              <div class="candidate-info">
                <h6 class="text-white">Phone:</h6>
                <p class="text-white">
                  <%= profile.contact %>
                </p>
              </div>
              <!-- <div class="candidate-info">
          <h6 class="text-white">Date Of Birth:</h6>
          <p class="text-white">1993-12-28</p>
        </div> -->
              <div class="candidate-info">
                <h6 class="text-white">Address:</h6>
                <p class="text-white">
                  <%= profile.address %>
                </p>
              </div>
              <div class="candidate-info">
                <h6 class="text-white">Gender:</h6>
                <p class="text-white">
                  <%= profile.gender %>
                </p>
              </div>
            </div>
            <div class="mt-0">
              <% if profile.core_skill %>
                <div class="card-header">
                  <h4>Core Skill:</h4>
                </div>
                <div class="card-body">
                  <p>
                    <%= profile.core_skill.title %>
                  </p>
                </div>
                <% end %>

                  <div class="card-header">
                    <h4>Supportive Skills:</h4>
                  </div>
                  <div class="card-body">
                    <% profile.supportive_skills.each do |supportive_skill| %>
                      <h5>Title:<%= supportive_skill.title %>
                      </h5>
                      <p>
                        <%= supportive_skill.desc %>
                      </p>
                      <% end %>
                  </div>
            </div>
        <style>
          .card-header , .card-body
          {
            color: white;
          }
        </style>
      </div>
    </div>
    <div class="col">
      <div class="resume-experience">
       
        <div class="timeline-box mt-4">
         
          

          <div class="jobster-candidate-timeline">

            <!--  -->
            <div class="card" style="margin-bottom: 10px;">
              <div class="card-header text-dark">
                <h5 class="resume-experience-title">Projects</h5>
              </div>
              <div class="card-body text-dark">
               
                <% curriculum_vitae.projects.each do |project| %>
            <div class="jobster-timeline-item">           
              <div class="jobster-timeline-info">
                <div class="dashboard-timeline-info">
                  <span class="jobster-timeline-time">2020-6-01 to 2020-6-01</span>
                  <h6 class="mb-2"><%= project.title %></h6>
                  <p class="mt-2"><%= project.desc %></p>
                </div>
              </div>
            </div>
            <% end %>
              </div>
            </div>
            
            <!--  -->
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
</div>
<style>
  .profile {
    margin-bottom: 25px;
  }

  .profile .jobster-user-info {
    display: inline-block;
    width: 100%;
  }

  .profile .jobster-user-info .profile-avatar {
    position: relative;
    height: 115px;
    width: 115px;
    border-radius: 100%;
    display: inline-block;
  }

  .profile .jobster-user-info .profile-avatar img {
    border-radius: 100%;
  }

  .profile .jobster-user-info .profile-avatar i {
    font-size: 16px;
    color: #21c87a;
    position: absolute;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    bottom: 20px;
    right: -5px;
  }

  .about-candidate {
    padding: 25px 0px;
  }

  .about-candidate .candidate-info {
    margin-bottom: 20px;
  }

  .resume-experience {
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    padding-right: 50px;
    background: #f6f6f6;
  }

  .resume-experience:before {
    position: absolute;
    left: -40%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    content: "";
    z-index: -1;
    top: 0;
  }

  .resume-experience .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle {
    border-color: #f6f6f6;
  }

  .user-dashboard-info-box .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: bold;
    color: #626262;
  }


  @media (max-width: 991px) {
    .resume-experience {}

    .resume-experience:before {
      content: none;
    }

    .secondary-menu ul li {
      display: inline-block;
    }
  }

  @media (max-width: 575px) {
    .secondary-menu ul li a {}
  }

  /*****************************
    Progress Bar
*****************************/


  /* Jobster Candidate */
  .jobster-candidate-timeline {
    position: relative;
  }

  .jobster-candidate-timeline:before {
    content: "";
    position: absolute;
    left: 20px;
    width: 2px;
    top: 5px;
    bottom: 5px;
    height: calc(100% - 5px);
    background-color: #eeeeee;
  }

  .jobster-candidate-timeline .jobster-timeline-item {
    display: table;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }

  .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle {
    border-radius: 50%;
    border: 12px solid white;
    z-index: 1;
    top: 5px;
    left: 9px;
    position: absolute;
  }

  .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle:before {
    content: "";
    position: absolute;
    left: 12px;
    width: 20px;
    top: -1px;
    bottom: 5px;
    height: 2px;
    background-color: #eeeeee;
  }

  .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-cricle>i {
    font-size: 15px;
    top: -8px;
    left: -7px;
    position: absolute;
    color: #21c87a;
  }

  .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-info {
    display: table-cell;
    vertical-align: top;
    padding: 5px 0 0 70px;
  }

  .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-info h6 {
    color: #21c87a;
    margin: 5px 0 0px;
  }

  .jobster-candidate-timeline .jobster-timeline-item .jobster-timeline-info span {
    color: #212529;
    font-size: 13px;
    font-weight: 500;
  }

  .jobster-candidate-timeline span.jobster-timeline-time {
    color: #646f79 !important;
  }

  .jobster-candidate-timeline .jobster-timeline-icon {
    border: 2px solid #eeeeee;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    background: #ffffff;
    position: relative;
    margin-bottom: 20px;
  }

  .jobster-candidate-timeline .jobster-timeline-icon i {
    font-size: 16px;
    color: #212529;
  }
</style>