<div style="position: relative;">
<h1 class="pos_l">Curriculum Vitae</h1>
<form action="curriculum_vitaes" class="form-inline pos_r">
  <input type="text" name="search" placeholder="Search by name" class="form-control mr-sm-2 form-control-lg">
  <button type="submit" class="btn btn-lg btn-success">Search</button>
</form>
<!-- need to work -->
</div>

<div class="table_gr" >
    <table border=1 class="table table-hover table-striped " >
      <tr style="color: white;">
        <th>id</th>
        <th>name</th>
        <th>projects</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Show</th>
      </tr>
      <% @curriculum_vitaes.each do |curriculum_vitae| %>
      <tr>
      <td><%= curriculum_vitae.id%> </td>
      <td><p><%= curriculum_vitae.candidate&.name %></p></td>
      <td>
        <% curriculum_vitae.projects.each do |project| %>
          <%= project.title+", " %>
        <%end%>
      </td>
   
      <td><%= link_to "Edit", edit_curriculum_vitae_path(curriculum_vitae) ,class: "material-symbols-outlined"%></td>
      <td><%= button_to "Delete" , curriculum_vitae , method: :delete ,class: "btn-primary"%></td>
   
      <td>
      <p>
        <%= link_to "Show this curriculum_vitae", curriculum_vitae , target: "_blank" %>
      </p>
    </td>
    </tr>
    <% end %>
    </table>
  </div>
<style>

</style>

<div style="position: relative;">
<%= link_to "New CV", new_curriculum_vitae_path ,class: 'btn btn-primary pos_r' %>
</div>
