<div style="position: relative;">
  <h1 class="pos_l">Curriculum Vitae</h1>
  <%= link_to "New CV", new_curriculum_vitae_path ,class: 'btn btn-primary new_pos_t' %>
</div>

<div class="table_gr" >
   <table id="example" class="table table-striped table-bordered  table-hover" style="width:100%">
      <thead>
        <tr style="color: white;">
          <th>updated time</th> <!-- just to sort by new to old -->
          <th>name</th>
          <th>projects</th>
          <th class="table_button_gr">Edit</th>
          <th class="table_button_gr">Delete</th>
          <th class="table_button_gr">Show</th>
          <th class="table_button_gr">download PDF</th>
          <th class="table_button_gr">download DOC</th>
        </tr>
      </thead>
      <tbody>
        <% @curriculum_vitaes.each do |curriculum_vitae| %>
          <tr>
            <td ><p><%= curriculum_vitae.updated_at %></p></td>
            <td class="l"><p><%= curriculum_vitae.candidate&.name %></p></td>
            <td>
              <% curriculum_vitae.cv_projects.each do |project| %>
                <%= project.title+", " %>
              <%end%>
            </td>
        
            <td><%= link_to "Edit", edit_curriculum_vitae_path(curriculum_vitae) ,class: "material-symbols-outlined"%></td>
            <td><%= button_to "" , curriculum_vitae , method: :delete ,class: "fa-solid fa-trash alert-light "%></td>
        
            <td>
              <%= link_to curriculum_vitae ,target: '_blank' , class: 'material-symbols-outlined' do %>
              <span>Visibility</span>
              <%end%>
            </td>
            <td><%= link_to pdf_html_req_path(curriculum_vitae), class: 'material-symbols-outlined' do  %>
              <span>picture_as_pdf</span>
                <%end%>
            </td>
            <td><%= link_to docx_html_req_path(curriculum_vitae), class: 'material-symbols-outlined' do  %>
              <span>edit_document</span>
                <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
