<h1>Curriculum Vitae</h1>

<div id="curriculum_vitae" >
    <table border=1 class="table table-hover table-striped " , style="border: 2px solid black;">
      <tr style="background-color: darkblue; color: white;">
        <th>name</th>
        <th>projects</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Show</th>
      </tr>
      <% @curriculum_vitaes.each do |curriculum_vitae| %>
      <tr>
     
      <td><p><%= curriculum_vitae.candidate&.name %></p></td>
      <td>
        <% curriculum_vitae.projects.each do |project| %>
          <%= project.title+", " %>
        <%end%>
      </td>
   
      <td><%= link_to "Edit", edit_curriculum_vitae_path(curriculum_vitae) ,class: "material-symbols-outlined"%></td>
      <td><%= button_to "Delete" , curriculum_vitae , method: :delete ,class: "btn-primary"%></td>
   
      <td>
      <p>
        <%= link_to "Show this curriculum_vitae", curriculum_vitae %>
      </p>
    </td>
    </tr>
    <% end %>
    </table>
  </div>

<%= link_to "New CV", new_curriculum_vitae_path ,class: "btn btn-sm btn-outline-success" %>
<%= link_to "Home" ,  home_index_path ,class: "btn btn-sm btn-outline-secondary" %>
<br>
<%= link_to "List of Layouts", layout_index_path ,class: "btn btn-outline-info" %>
