// candidate
name
<%= @curriculum_vitae.candidate.name %>

<% if @curriculum_vitae.candidate.profile %>
 <%profile = @curriculum_vitae.candidate.profile%>
<div>
email 
<%= profile.email %>
</div>
<div>
  contact
  <%= profile.contact %>
</div>

<div>gender
    <%= profile.gender %>
  </div>
  <div>
    address
    <%= profile.address %>
  </div>  
  
  <div>
    <%if profile.core_skill %>
       //core_skill , Link
      <%= profile.core_skill.title %>
    <%end%>
  </div>
  
  <div>  
    //supportive_skill ,Link
    <% profile.supportive_skills.each do |supportive_skill| %>
     <h5><%= supportive_skill.title %></h5>
     <div><%= supportive_skill.desc %>
     </div>
    <%end%>
  </div>
    
  <%end%>
<div>    
    projects
<% @curriculum_vitae.projects.each do |project| %>
      <h5><%= project.title %></h5>
     <div><%= project.desc %>
     </div>
<%end%>

</div>

<br>

  <%= link_to "Edit this curriculum_vitae", edit_curriculum_vitae_path(@curriculum_vitae) %> |
  <%= link_to "Back to curriculum_vitaes", curriculum_vitaes_path %>

  <%= button_to "Destroy this curriculum_vitae", @curriculum_vitae, method: :delete ,class:"btn btn-primary"%>
