<div class="container">
<div class="bg-secondary">
  <!-- if empty it cant shown -->
          wad
</div>
<div class="row">
  <div class="col bg-dark">
  <div class="col-md-6 bg-danger">
    <div class="row">
      <div class="col">
     Resume
    </div>
      <div class="col">
        Candidate:
<%= @curriculum_vitae.candidate.name %>
    </div>
  </div>
    </div>
  <div class="bg-success">
      <h3>Profile:</h3>
      <% if @curriculum_vitae.candidate.profile %>
        <% profile = @curriculum_vitae.candidate.profile %>
        <ul>
          <li>Email: <%= profile.email %></li>
          <li>Contact: <%= profile.contact %></li>
          <li>Gender: <%= profile.gender %></li>
          <li>Address: <%= profile.address %></li>
        </ul>
  
        <% if profile.core_skill %>
          <h4>Core Skill:</h4>
          <p><%= profile.core_skill.title %></p>
        <% end %>

        <h4>Supportive Skills:</h4>
        <% profile.supportive_skills.each do |supportive_skill| %>
          <h5><%= supportive_skill.title %></h5>
          <p><%= supportive_skill.desc %></p>
        <% end %>
      <% end %>
    </div>
    </div>

    <div class="col-md-6 bg-primary">
      <h3>Projects:</h3>
      <% @curriculum_vitae.projects.each do |project| %>
        <h4><%= project.title %></h4>
        <p><%= project.desc %></p>
      <% end %>
    </div>
  </div>
  <!-- <div class="col-sm">
    One of three columns
  </div>
  <div class="col-sm">
    One of three columns
  </div> -->

</div>

<%= link_to "Edit this curriculum_vitae", edit_curriculum_vitae_path(@curriculum_vitae) %> |
<%= link_to "Back to curriculum_vitaes", curriculum_vitaes_path %>

<%= button_to "Destroy this curriculum_vitae", @curriculum_vitae, method: :delete ,class:"btn btn-primary"%>


<div class="row">
  <div class="col">
    1 of 2
  </div>
  <div class="col">
    2 of 2
  </div>
</div>